<ion-header>
  <ion-toolbar>
    <ion-title>intro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" (ionSlideReachEnd)="goToHome()">

    <ion-slide >
      <div class="img-container">
        <img src="
        https://via.placeholder.com/150">
      </div>
      <h4>First Slide</h4>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet nesciunt quibusdam aliquid impedit soluta earum facere nobis eligendi harum saepe, debitis fuga blanditiis animi cupiditate tempore ullam excepturi vel quas!</p>


      <!-- <img src="images/slide1.png" /> -->
    </ion-slide>

    <ion-slide>
      <div class="img-container">
        <img src="
        https://via.placeholder.com/150">
      </div>
      <h4>First Slide</h4>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet nesciunt quibusdam aliquid impedit soluta
        earum facere nobis eligendi harum saepe, debitis fuga blanditiis animi cupiditate tempore ullam excepturi vel
        quas!</p>

      <!-- <img src="images/slide2.png" /> -->
    </ion-slide>


    <ion-slide>
      <ion-row>
        <ion-col>
          <h2>Bye</h2>
          <!-- <img src="images/slide4.png" /> -->
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button ion-button color="light" (click)="goToHome()">Start Using My App</button>
        </ion-col>
      </ion-row>
    </ion-slide>

  </ion-slides>
</ion-content>