<ion-header>
  <ion-toolbar>
    <ion-title>
      <nav style="display: flex; flex-direction: row;justify-content: space-between;">
        <ul>
          <li><a> menu</a></li>
        </ul>
        <ul>
          <li><a> search</a></li>
          <li><a> cart</a></li>

        </ul>
      </nav>

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true"  class="my-custom-slides">
    <ion-slide>
        <div class="img-container">
          <img src="
        https://via.placeholder.com/300X100">
        </div>
     
    </ion-slide>
    <ion-slide>
      <h1>Slide 2</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 3</h1>
    </ion-slide>
  </ion-slides>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <div class="title-container img-container" (click)="goToListing()">
          <img src="
        https://via.placeholder.com/150">
          <div class="title">Grocery</div>
        </div>

      </ion-col>
       <ion-col size="6">
         <div class="title-container img-container">
           <img src="
        https://via.placeholder.com/150">
           <div class="title">Vegetables</div>
         </div>

       </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <div class="title-container img-container">
          <img src="
        https://via.placeholder.com/300X100">
          <div class="title">Middle</div>
        </div>
      </ion-col>
    </ion-row>
      <ion-row>
        <ion-col size="6">
          <div class="title-container img-container">
            <img src="
        https://via.placeholder.com/150">
            <div class="title">Grocery</div>
          </div>

        </ion-col>
        <ion-col size="6">
          <div class="title-container img-container">
            <img src="
        https://via.placeholder.com/150">
            <div class="title">Vegetables</div>
          </div>

        </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>